/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Reset Document */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    background: rgb(32, 32, 32);
}

/* All Container */
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
header{
    padding: 20px;
    width: 100%;
    background-color: rgb(26, 26, 26);
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .logo, nav{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

header .logo img{
    width: 106px;
    height: 106px;
    margin-right: 10px;
}

header nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav ul li{
    margin: 5px 0;
    text-align: center;
    width: 50%;
    list-style: none;
}

header nav ul li a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 2s;
    padding: 5px;
}

/* Header Nav A Href Animations */
header nav ul li a,
header nav ul li a:after,
header nav ul li a:before {
    transition: all .5s;
    border-radius: 5px;
}

header nav ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    color: transparent;
    background: #aaa;
    height: 1px;
    text-align: center;
    content: '';
    margin: 0 auto;
    opacity: 0;
}

header nav ul li a:hover {
    z-index: 1;
    color: #333;
}

header nav ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

/* Header Effects Keyframes */
/* Keyframes */
@keyframes fill{
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: white;
    }
}

/* End Nav A Href Animations */

/* Sections */
section{
    padding: 40px;
    color: white;
    width: 100%;
    text-align: center;
}

section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h3{
    margin-bottom: 8px;
}

section p{
    max-width: 500px;
    letter-spacing: 1.3px;
}

/* Title */
section.title h2{
    color: rgb(156, 156, 156);
    font-size: 30px;
}

/* Final Section Margin Bottom */
section.apresentation{
    margin-bottom: 15px;
}

/* Video Section */
section.video iframe{
    border: none;
    border: 3px solid #cacaca;
    border-radius: 6px;
}

/* Footer */
footer{
    padding: 40px;
    width: 100%;
    height: 100px;
    background-color: rgb(26, 26, 26);
}

footer .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-container p{
    color: white;
    font-weight: normal;
    font-size: 15px;
}